.hero-body:before {
    content: '';
    background: url('../images/background.png') no-repeat center center/cover;
    /* background: url('../images/Group2.svg') no-repeat center center/cover; */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

.container{
    color: white;
    
  }
  .text-body{
    text-align: center;
    letter-spacing: -0.015em;
    margin-top: 130px;
  }
  .text-body h2{
    font-weight: 600;
    font-size: 70px;
    margin-top:4px; 
    /* line-height: 91%; */
    
  }
  .text-body h3{
    font-weight: 150;
    font-size: 70px;
    line-height: 100%;
    margin-bottom: 5px;
  }
  .second-image{
    transition: all 5s ease-in-out;
  }
  .second-image:hover{
    transform: rotate(25deg);
  }
/* .second-image-container{
  position: relative;
  margin-top: 80px;
} */
.rectangle-image{
  margin-top:50px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.17);
  transition: 0.3s;
  box-sizing: border-box;
  width: 30%;
  margin-left: 500px;
  height: 300px;
  /* margin-bottom:100px; */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0));
}

.card:hover {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;
  height: 100px;
  margin-top:40px;
  margin-left:20px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 160%;
  gap: 16px;
}
.card2 p{
  margin-top:50px;
  /* color: red; */
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.button{
  margin-top: 30px;
  width: 20%;
  height: 56px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  background: #ECAB03;
  color: #FFFFFF
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* basic structure for the rays setup */
.raysDemoHolder	{ 
	position: relative; 
	width: 490px; 
	height: 490px; 
	margin: 100px 0 0 200px; 
}
.pot-image2 { 
	width: 300px; 
	height: 233px; 
	text-indent: -3000px; 
	/* background: url(logo.png) 0 0 no-repeat;  */
	/* display: block; 
	position: absolute;  */
	top: 0; 
	left: 0; 
	z-index: 2; 
}
.rays	{ /* with animation properties */
	background: url('../images/Rectangle2.png') 0 0 no-repeat; 
	position: absolute; 
	top: -100px; 
	left: -100px; 
	width: 490px; 
	height: 490px; 
	
	/* microsoft ie */
	animation-name: spin; 
	animation-duration: 40000ms; /* 40 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}
